@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:900');

$font: 'Lato', sans-serif;
$big: 'Montserrat', sans-serif;

$red: #ef2f3c;
$white: #f6f4f3;
$blue: #276fbf;
$dark: #183059;
$yellow: #f0a202;

html {
  display: grid;
  min-height: 100%;
}

body {
  display: grid;
  background: $dark;
}

.timer {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 650px;
  height: 480px;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  font-family: $font;
  font-size: 0.7em;
  letter-spacing: 5px;
  margin-top: 25%;
}

.field {
  display: inline-block;
  padding: 20px;
  width: 100px;
  border-radius: 5px;
  text-align: center;
}

.value {
  font-family: $big;
  font-size: 4em;
}

[data-value='days'] {
  color: $blue;
}

[data-value='hours'] {
  color: $red;
}

[data-value='mins'] {
  color: $white;
}

[data-value='secs'] {
  color: $yellow;
}
